log.txt
Dependencies
PDFs
*.patch
*.diff
View/Ressources/*.*
!View/Ressources/list-affect-icon.svg
!View/Ressources/place-icon.svg
!View/Ressources/people-icon.svg
!View/Ressources/black-fluid-bg.jpg
!View/Ressources/manager-icon.svg