/*
Source: https://cssdeck.com/labs/full/collapsible-nav-with-burger-menu-no-js
*/

.top-navigation-bar-burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}

.top-navigation-bar-burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.top-navigation-bar-burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.top-navigation-bar-burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.top-navigation-bar-burger-check {
    display: none;
}

.top-navigation-bar-burger-check:checked ~ .top-navigation-bar-burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}

.top-navigation-bar-burger-check:checked ~ .top-navigation-bar-burger:before {
    -ms-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.top-navigation-bar-burger-check:checked ~ .top-navigation-bar-burger:after {
    -ms-transform: rotate(405deg) translateY(-4px) translateX(-5px);
        transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.top-navigation-bar {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
}

.top-navigation-bar-burger-check:checked ~ .top-navigation-bar {
    max-height: 500px;
    -webkit-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
}

.top-navigation-bar a {
    color: inherit;
}

.top-navigation-bar ul {
    margin: 0;
    padding: 0;
}

.top-navigation-bar li {
    list-style: none;
    font-size: 25px;
    padding: 5px 0;
}

.top-navigation-bar li a {
    text-decoration: none;
}

.top-navigation-bar li a:hover {
    text-decoration: underline;
}
