/*
Source: https://uiverse.io/alexruix/slippery-frog-10
*/

.search-bar-component {
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

input[type="date"].search-bar-component {
    cursor: pointer;
}

.search-bar-component::placeholder {
    color: #9e9ea7;
}

.search-bar-component:focus, .search-bar-component:hover {
    outline: none;
    border-color: rgba(95, 95, 95, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-bar-outer-container label {
    font-size: 15px;
    font-weight: 500px;
    text-transform: uppercase;
    top: 0%;
    position: relative;
}

.search-bar-field-wrapper {
    float: left;
    display: flex;
    background-color: white;
    box-shadow: black 2px 2px 6px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.search-bar-field-wrapper input[type="checkbox"] {
    top: 0%;
    position: relative;
}