.form-inner-container {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-inner-container * {
    background-color: transparent;
}

.form-inner-container input {
    right: 0;
    position: relative;
}

.form-title {
    text-align: center;
}