@import url("NavigationBar/main.css");
@import url("Misc/main.css");
@import url("Menu/main.css");
@import url("MainMenu/main.css");
/* @import url("navigation_bar.css");
@import url("search_bars.css");
@import url("table_listing_area.css");
@import url("forms.css"); */

/* Every element */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    font-size: 1.02em;
}

body {
    background: linear-gradient(to bottom right, rgb(39, 39, 39), rgb(71, 71, 71));
}

html {
    height: 100%;
}

main {
    top: 40px;
    position: relative;
}

/* .force-center-elements {
    justify-content: center;
    align-items: center;
    display: flex;
}

.clent-side-database {
    display: none;
    background-color: white;
}

.clent-side-database * {
    background-color: transparent;
}

.space-top-element {
    margin-top: 5%;
}

.space-bottom-element {
    margin-bottom: 5%;
}

.space-left-element {
    margin-left: 5%;
}

.space-right-element {
    margin-right: 5%;
}

.space-element {
    margin: 5%;
} */