/* index.php's base navigation <section> container */
#index-main-menu {
    display: grid;
    height: 100vh;
}

/* <div> container for the <ol> element */
#index-menu-outer-container {
    background-color: white;
    margin: 10%;
    min-width: 210px;
    min-height: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* <ol> element containing the <li> elements */
#index-menu-inner-container {
    background-color: transparent;
    list-style-type: none;
    counter-reset: exponent;
    padding-left: 0;
    text-align: left;
    width: 100%;
}

/* <li> element containing the <a> element */
#index-menu-inner-container li {
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.4%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* <a> elements */
#index-menu-inner-container a {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

/* Counter to display the list ids as indices */
#index-menu-inner-container li::before {
    content: counter(exponent);
    font-size: 0.6em;
    vertical-align: super;
    display: inline-block;
    line-height: 1;
    margin-right: 0.8em;
    margin-left: 0.8em;
    counter-increment: exponent;
}

/* On hover of a <li> element (i.e. a menu row) */
#index-menu-inner-container li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.top-navigation-bar {
    background-color: white;
    border-radius: 2px;
    width: fit-content;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.top-navigation-bar a {
    background-color: transparent;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    padding: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.top-navigation-bar a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
