#affect-based-on-dates-form {
    background-color: white;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    border-radius: 5px;
}

.search-bar-outer-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-bar-inner-container  {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.search-bar-inner-container input {
    border: 1px solid;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.search-bar-inner-container input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.search-bar-inner-container * {
    background-color: transparent;
}

.search-bar-inner-container #searchBar {
    cursor: text;
}

#affect-based-on-dates-form label {
    background-color: transparent;
}

#affect-based-on-dates-form input {
    background-color: transparent;
}

#search-bar-date-begin {
    background-color: transparent;
}

#dateEnd {
    background-color: transparent;
}

#affect-based-on-dates-form input {
    border-color: black;
    border: 1px solid;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#affect-based-on-dates-form input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}