.table-list-outer-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.table-list-inner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Ressources/tables-bg.jpg");
    padding: 5px;
    border-radius: 12px;
    width: 80%;
    box-shadow: black 2px 2px 5px;
}

.table-list-inner-container td {
    padding: 5px;
    border-radius: 3px;
}

.table-list-inner-container * {
    background-color: transparent;
}

.crud-actions-container {
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Ressources/tables-bg.jpg");
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: black 2px 2px 5px;
}

.crud-actions-container * {
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.crud-actions-container button, .crud-actions-container input[type="submit"] {
    border: 0px;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    transition: color 0.3ms;
    border-radius: 5px;
    padding: 5px;
}

.crud-actions-container button:hover, .crud-actions-container input[type="submit"]:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
    color: white;
}

.affectation-table-row, .location-table-row, .worker-table-row, .worker-affects-list-row {
    background-color: white;
    transition: background-color 0.3s ease;
    transition: color 0.3ms;
}

/* On hover of <tr>s */
.affectation-table-row:hover, .location-table-row:hover, .worker-table-row:hover, .worker-affects-list-row:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    color: white;
}

table {
    text-align: center;
}

.table-header-row {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.table-header-row * {
    padding: 5px;
    border-collapse: collapse;
    border-radius: 5px;
}