.table-list-outer-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.table-list-inner-container {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: black 5px 5px 10px;
    border-radius: 10px;
}

.table-header-row {
    background-color: rgb(66, 66, 66);
    color: white;
}

.table-header-row th {
    padding: 10px;
    border-radius: 8px;
    box-shadow: black 2px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.inner-table-row {
    background-color: white;
}

.inner-table-row td {
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: black 1px 1px 3px;
}